body {
    margin:40px auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    color: #444444;
    padding:0 10px;
    background-color: #ffffe6;
}
h1 {
    line-height: 1.2;
    text-align: right;
}
h2,h3 {
    line-height: 1.2;
}
a {
    color: #333333;
}
img {
    max-width:600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

code,figcaption {
    font-size:13px;
}

.date-text {
    text-align: right;
}

.date {
    color: #AAAAAA;
    font-style: italic;
}

.comment {
    font-size: 14px;
}

.back-links {
    line-height: 0.2;
}

#top-title {
    font-size:36px;
    text-align: right;
    font-weight:bold;
} 
